/* LoginPage.css */
.transparent-box {
    background-color: rgba(255, 255, 255, 0.4); /* Transparent white background */
    backdrop-filter: blur(8px); /* Blurry effect */
    border-radius: 8px; /* Rounded corners for the box */
    padding: 20px;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.3); /* Shadow for the box */
    margin-top: 60px;
    width: 50%;
  }

  .navbar-logo {
    width: 80px; /* Adjust the width as needed */
    height: 75px; /* Adjust the height as needed */
    margin-right: 10px; /* Add spacing between the logo and heading */
  }
  
  .navbar-heading {
    color: red; /* Set the color for the heading text */
    font-size: 24px; /* Adjust the font size as needed */
    font-weight: 700;
  }
  .navbar-subheading {
    color: black; /* Set the color for the heading text */
    font-size: 16px; /* Adjust the font size as needed */
    font-weight: 400;
    padding-left: 10px;
  }
  .logo-heading-container {
    display:flex;
    flex-direction: row;
    position: absolute;
    top: 0px; /* Adjust the vertical position of the container */
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    color: white;
    margin-top: 10px;
  }
  .navbar-content {
    margin-top: 15px;
  }

  @media (max-width: 768px) {
    .logo-heading-container {
      flex-direction: column;
      align-items: center;
      margin-top: 30px;
    }
  
    .navbar-logo {
      margin-bottom: 10px;
    }
  
    .navbar-heading {
      font-size: 20px;
    }
  
    .navbar-subheading {
      font-size: 14px;
    }
  
    .transparent-box {
      margin-top: 115px;
      padding: 5px;
      width: 85%;
      
    }
  }